

<!DOCTYPE html>
<html>
<head>
<style>
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}


</style>
	<title>Raptor Watch</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body id="body" class ="idbird">
	{% csrf_token %}
	<header id="main-header">
		<div class="container">
			<h1>Raptor Watch</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="{% url 'identify' %}">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</nav>

	<section id="showcase">
		<div class="container">
			<h1>Species Classification</h1>
			<div class="transbox">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %} 
					<input type="file" name="myfile">
					<button type="submit">Upload</button>
  				</form>
			<h2>{{results}}</h2>
			</div>
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1>How it Works</h1>
			<p>Click on browse to select a picture you want to classify then click upload to submit the 				pictcure 
			</p>
		</section>
	
		
	</div>

	<footer id="main-footer">
		<p>Copyright &copy; 2018 Raptor Watch</p>
	</footer>
</body>
</html>
