<!DOCTYPE html>
<html>
<head>
	<title>Raptor Watch</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body id="body" class ="home">
	{% csrf_token %}
	<header id="main-header">
		<div class="container">
			<h1>Raptor Watch</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="{% url 'identify' %}">ID Bird</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</nav>

	<section id="showcase">
		<div class="container">
			<h1>Species Classification</h1>
				
		</div>
	</section>

	<div  class="container">
		
		<section id="main">
			<h1>Welcome</h1>
			<p>Being able to identify and classify birds is crucial to understanding of the world around us. There are more than 14,000 birds around the world. Raptor Watch is here to help you classify some of the species with easy</p>
		</section>
		<aside id="sidebar">
			<p>Raptor Watch was build CUB-200-2011 dataset, the current model can only classify as subset of this dataset.</p>
		</aside>
	</div>

	<footer id="main-footer">
		<p>Copyright &copy; 2018 Raptor Watch</p>
	</footer>
</body>
</html>
